<div class="jumbotron text-center">

  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Be ready to enter into Treeview...Keep your names of factories ready to add in ...</p>
  <a href="/special" class="btn btn-dark btn-lg">Add Factories</a>
</div>

<!--/ideas/add-->